$--color-high: #fdde07;
$--color-save: #252839;
$--color-title: #292b3a;
$--color-background:#f9f9f9;
$--color-item: #eeeeee;
$--color-item-other: #ffffff;
$--color-font: #7a7d85;
$--color-nav: #7a838a;
$--color-nav-item-active: #002c64;
$--color-nav-item-normal: #969696;
$--color-loading: #2e3140;
